/*sorting*/

.sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.grab {
    cursor: -webkit-grab;
    cursor: grab;
}


/* Many others */

.showed {
    display: block!important;
}

.navbar-nav .btn {
    min-width: 160px;
    min-height: 56px;
    line-height: 1em;
}

.categories {
    font-size: 0.87rem;
}

.content {
    padding: 7px;
    display: block;
    height: min-content;
}

.container {
    color: #ffffffe5;
}

.myitem {
    scroll-margin-top: 3em;
}

.title {
    font-weight: bold;
    height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 1;
    -webkit-line-clamp: 1;
}
.desc{
    height: 2em;
    resize: none;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s ease; /* Animazione */
}
.desc.expanded {
    height: 12em;
    resize: vertical;
    border: 1px solid rgb(168, 168, 168);
    transition: all 0.5s ease; /* Animazione */
}
.divider {
    height: 1px;
    background-color: #aaa;
    margin: 7px 0;
}
.subgrid .col {
    padding: 7px;
}

 /* TOASTS */
.toast {
    left: 50%;
    position: fixed;
    bottom:1em;
    transform: translate(-50%, 0px);
    z-index: 9999;
}
