/*sorting*/

.sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.grab {
    cursor: -webkit-grab;
    cursor: grab;
}


/* Many others */

.container {
    margin: auto!important;
}

.showed {
    display: block !important;
}

.navbar-nav .btn {
    padding: 6%;
    min-width: 100px;
    margin: 0px;
    line-height: 1.3em;
    max-height: 3em;
    font-size: 1.8em;
    margin-bottom: -1px;
}

/* schermi medi */
@media (max-width: 1576px) {
    .navbar-nav .btn {
        font-size: 1.6em;
    }
}

/* schermi piccoli */
@media (max-width: 992px) {
    .container, .container-sm {
        margin: 0px;
        max-width: 100% !important;
    }

    .navbar-nav .btn {
        padding: 5px;
        font-size: 0.9em;
        border-radius: 4px !important;
    }

    #mysearch {
        width: 100%;
        margin-bottom: 6px;
        border-radius: 6px;
    }

    .btn-dropdown {
        width: 100%;
        border-radius: 62px !important;
    }

    .btn-order {
        margin-right: 1px !important;;
    }

    .bx-sm {
        font-size: 1rem !important;
    }

    .tm-content {
        width: 100%;
        height: 100%;
        border-radius: 0;
        top: 0;
        left: 0;
        transform: none;
    }
    
}

.btn-order {
    margin-right: 1em;
}
.categories {
    font-size: 0.87rem;
}

.content {
    padding: 7px;
    display: block;
    height: min-content;
}

.container {
    color: #ffffffe5;
}

.myitem {
    scroll-margin-top: 3em;
}

.title {
    font-weight: bold;
    height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 1;
    -webkit-line-clamp: 1;
}

.desc {
    height: 2em;
    resize: none;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s ease;
    /* Animazione */
}

.desc.expanded {
    height: 12em;
    resize: vertical;
    border: 1px solid rgb(168, 168, 168);
    transition: all 0.5s ease;
    /* Animazione */
}

.divider {
    height: 1px;
    background-color: #aaa;
    margin: 7px 0;
}

.subgrid .col {
    padding: 7px;
}

/* Modal TextArea wrapper */
#textareaModal {
    position: fixed;
    inset: 0;
    z-index: 9999;
}
.tm-hidden {
    display: none;
}
.tm-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
}
.tm-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    max-width: 600px;
    height: 70%;

    background: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity)) !important;
    border-radius: 8px;
    padding: 15px;

    display: flex;
    flex-direction: column;
}
#tm-textarea {
    flex: 1;
    resize: none;
    width: 100%;
    overflow-y: auto;
}
#tm-close {
    align-self: flex-end;
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

/* TOASTS */
.toast {
    left: 50%;
    position: fixed;
    bottom: 1em;
    transform: translate(-50%, 0px);
    z-index: 9999;
}
